<mat-toolbar color="primary">Menu</mat-toolbar>

<mat-nav-list>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Main Category 1</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item>Sub Category 1</mat-list-item>
      <mat-list-item>Sub Category 2</mat-list-item>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Main Category 2</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item>Sub Category A</mat-list-item>
      <mat-list-item>Sub Category B</mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
